# ===================================================
# .gitignore cho dự án Node.js + Flutter
# ===================================================

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend uploads
backend/uploads/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Android
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/values/secrets.xml
*.apk
*.aab
*.jks
*.keystore

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
*.ipa

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.iml
